:root {
    /* COLOR */
    --primary: #0091FF;
    --secondary: #ff9900;

    --light: #ffffff;
    --dark: #26282C;

    /* FONTS */
    --title: 'Raleway', sans-serif;
    --bodyText: 'Open Sans', sans-serif;

    /* SIZES */
    font-size: 62.5%;

    --marginLR: 2rem;
    --paddingSZ: 2rem;
    --sizeL: 2.7rem;
    --sizeM: 2.2rem;
    --sizeS: 1.5rem;
    --sizeXs: 1.2rem;

    scroll-behavior: smooth;

}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.no-scroll{
    overflow-y: hidden;
    position: fixed;
    height:100vh;
    width:100vw;
}

/* add */

.add > img {
    width: 100%;
}

.add > p {
    font-family: var(--bodyText);
    padding: 0.5rem 1rem;
}

/* MENY */
.menyWrapper{
    background-color: var(--dark);
    z-index:30;
    width: 100%;
    height:8rem;
    position: relative;
    top:0;
    display: flex;
    justify-content: space-between;
    /* ifall vi ska ha en levande meny som rullar fram vid scroll */
    transition: top 1s;
}

#logo{
    z-index: 20;
    flex-basis: 100px;
    display: flex;
    align-items:flex-end;

    padding: 2rem;
    margin-left: var(--marginLR);
    
    font-family: var(--title);
    font-weight: bold;
    font-size: var(--sizeM);
    color: var(--light);
}

#logo a {
    text-decoration: none;
    color: var(--light);
}

#logo a:active {
    color: var(--secondary);
}
  
#menyButton{
    z-index: 20;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    background-color: var(--dark);
    
    padding:2rem;
    margin-right: var(--marginLR);
    border: none;
    
    font-family: var(--title);
    font-weight: lighter;
    font-size: var(--sizeS);
    text-transform: uppercase;
    color:var(--light);
    cursor: pointer;
    transition: color 1s;
}

/* Den gömda menyn  */
#menyLinks {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    height:100vh;
    width:100vw;

    transform: translateX(-100vw);
    background-color: var(--dark);
    transition: transform 1s;
}
  
#menyLinks.out{
    transform: translateX(0vw);
}
  
#menyLinks a{
    padding: var(--paddingSZ);
    margin-left: var(--marginLR);
    
    font-family: var(--title);
    font-weight: normal;
    text-decoration: none;
    color: var(--light);
    font-size: var(--sizeS);
}
  
#navcopyright{
    color: white;
    font-family: var(--bodyText);
    font-size: var(--sizeXs);
    position: absolute;
    bottom:0;
    padding:15px 10px;
}

/* MAIN */
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* FOOTER  */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    height: auto;
    width: 100%;

    background-color: var(--dark);
    color: var(--light);
}

#footerLinks {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.footerText {
    height: 4rem;
    padding: 0rem var(--paddingSZ);
    margin-left: var(--marginLR);

    font-family: var(--title);
    font-size: var(--sizeS);
    color: var(--light);
    text-decoration: none;
}

#copyright {
    margin: auto;
    text-align: center;
    font-family: var(--bodyText);
    font-size: var(--sizeXs);
    margin-bottom: var(--marginLR);
}

.arrowUp {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: var(--marginLR);
	right: var(--marginLR);
    padding: var(--paddingSZ);
    
   
    font-size: var(--sizeL);
    transition: 0.5s;
    cursor: pointer;

    animation-name: bounceUpAndDown;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.arrowUp:hover {
    color: var(--secondary);
}

@keyframes bounceUpAndDown {
    0%   { transform: translateY(0);   }
    50%  { transform: translateY(-20px)  }
    100%  { transform: translateY(0px);}
}

/* CityInfo */

.cityInfo {
    display: flex;
    justify-content: space-between;
    padding: var(--paddingSZ);
}

.cityInfo > div:first-child {
    font-family: var(--title);
}

.cityInfo div:last-child {
    height:4rem;
    width: 4rem;
    border-radius: 20rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 1rem;

    font-family: var(--bodyText);
    font-size:  var(--sizeS);
}

.cityInfo .red{
    background-color: red;
}

.cityInfo .green{
    background-color: green;
}
 /* pictures  */

.cityPictureWrapper {
    width: 400vw;
    position: relative;

    animation-name: slider;
    animation-timing-function: ease;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.cityPictureWrapper img {
    height:75vw;
    width:25%;
}

.programCardFace.back > div > div:nth-child(2) {
    display: flex;
    padding: var(--paddingSZ);
}

@keyframes slider {
    0%   { transform: translateX(0vw);   }
    16%  { transform: translateX(-100vw);}
    32%  { transform: translateX(-200vw);}
    48%  { transform: translateX(-300vw);}
    63%  { transform: translateX(-200vw);}
    82%  { transform: translateX(-100vw);}
    100% { transform: translateX(0vw);}
    /* 1000 { transform: translateX(-300px);} */
}

.cityText {
    padding: var(--paddingSZ);
    font-family: var(--bodyText);
    font-size: var(--sizeS);
    line-height: 1.5;
}

/* ratings  */
.rating {
    flex-grow:1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.circleRating {
    height: 8rem;
    width: 8rem;
    border-radius: 200px;
    background-color: var(--light);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--title);
    font-size: var(--sizeS);
    font-size: var(--sizeM);
}

.rating > h1 {
    margin-bottom: 1rem;
    font-family: var(--title);
}

/* COMMETNS */

.programCardFace.back > div > div:nth-child(3) {
    padding: var(--paddingSZ);
}

.programCardFace.back > .scroll{
    overflow-y: scroll;
    overflow-x: hidden;
}

.comment {
    margin-bottom: var(--marginLR);
    background-color: var(--light);
    padding: var(--paddingSZ);
}

.comment > div {
    display: flex;
    justify-content: space-between;
    
    font-family: var(--title);
}

.comment p {
    font-family: var(--bodyText);
    font-size: var(--sizeS);
}
