:root {
    /* COLOR */
    --primary: #0091FF;
    --secondary: #ff9900;

    --light: #ffffff;
    --dark: #26282C;

    /* FONTS */
    --title: ;
    --bodyText: ;

    /* SIZES */
    font-size: 62.5%;

    --sizeL: 75%;
    --sizeM: 62.5%;
    --sizeS: 50%;
    --sizeXs: 35%;

}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* MENY */
nav{
    background-color: var(--dark);
    z-index:30;
    width: 100%;
    height:80px;
    position: relative;
    top:0;
    display: flex;
    justify-content: space-between;
    /* ifall vi ska ha en levande meny som rullar fram vid scroll */
    transition: top 1s;
}

#logo{
    flex-basis: 100px;

    display: flex;
    align-items:center;
    font-size: 2rem;
    color: var(--light);
    padding: 4rem;
    z-index: 20;
}
  
#menyButton{
    color:var(--light);
    background-color: var(--dark);
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:2rem;
    margin-right: 2rem;
    z-index: 20;
    transition: color 1s;
    text-transform: uppercase;
    cursor: pointer;
}

/* Den gömda menyn  */
#menyLinks {
    position: absolute;
    height:100vh;
    width:100vw;
    transform: translateX(-100vw);
    background-color: var(--dark);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s;
}
  
#menyLinks.out{
    transform: translateX(0vw);
}
  
#menyButton.close{
    color:white;
}
  
#menyLinks a{
    text-decoration: none;
    color: white;
    padding: 3rem 4rem;
}
  
#navcopyright{
    color: white;
    font-size: 13px;
    position: absolute;
    bottom:0;
    padding:15px 10px;
}

/* FOOTER  */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    height: 20em;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);

}

#footerLinks {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.footerText {
    text-decoration: none;
    height: 2em;
    font-size: 1.3em;
   
    margin-left: 3em;
}

#copyright {
    margin: auto;
    text-align: center;
}

.arrowUp {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 5%;
	left: 85%;

    height: 1.5em;
    width: 1.5em;
    font-size: 3em;

    transition: 0.5s;
    cursor: pointer;
}

.arrowUp:hover {
    background-color: var(--secondary);
    color: var(--light);
}
