/* AD */

.add > img {
    width: 100%;
}

/* SEARCHFORM */

#searchForm {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: auto;

    background-image: url(/Images/stockholm_normal_4.jpg);
    background-position: center;
    margin-top: 4rem;
    height:30rem;
}

#innerWrapper {
    height: calc(100% - 4rem);
    width: calc(100vw - 4rem);
    padding: 2rem 2rem;
    background-color: rgba(255, 153, 0, 0.7); 
    box-shadow: 0px 0px 4px var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
#innerWrapper h2 {
    width:100%;
    margin-bottom: var(--marginLR);
    color: var(--light);
    font-family: var(--title);
    text-transform: capitalize;
    text-align: left;
    font-size: var(--sizeM);
    font-weight: normal;
}
    
#inputField {
    width:100%;
    height: 3.5rem;
    padding:var(--paddingSZ);
    border:none;
    background-color: var(--light);
    margin-bottom: var(--marginLR);
    appearance: none;
}
    
#innerWrapper > div {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--marginLR);
    margin-bottom: var(--marginLR);
}
    
#innerWrapper > div select {
    height: 3.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--light);
    appearance: none;
    text-align: center;
}

#innerWrapper > div > select option {
    text-align: center;
}
    
#search {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width:100%;
    height: 3.5rem;
    padding:var(--paddingSZ);
    
    border:none;
    background-color: var(--light); 
    
    font-family: var(--bodyText);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--sizeXs);
}
    
#search:active{
    opacity: 0.7;
}

/* SORTERA & FILTRERA */

#sortFilterParent{
    display: flex;
    margin: 0rem var(--marginLR);
}

#sortera, #filter {
    appearance: none;
    border: none;
    padding: var(--paddingSZ) 1rem;
    background-color: var(--light);
    color:var(--dark);
    font-family: var(--bodyText);
    font-weight: normal;
    font-size: var(--sizeXs);
    text-transform: uppercase;
    position: relative;
    flex-grow: 1;
}

#filter{
    text-align: right;
}

#expandFilter{
    position: absolute;
    height:100vh;
    width:100vw;
    background-color: var(--dark);
    z-index: 1000;    font-family: var(--title);
    font-size: var(--sizeXs);
    text-transform: uppercase;
    padding: 0rem var(--paddingSZ);
    color: var(--light);
    overflow-x: scroll;
}

#expandFilter > h1 {
    padding: var(--paddingSZ) 0rem;
    display: flex;
    justify-content: center;
}

#expandFilter > button:nth-child(2) {
    position: absolute;
    top:2rem;
    right: var(--paddingSZ);
    border:none;
    background-color: var(--dark);
    color: var(--light);
    font-size: var(--sizeM);
    transition: font-size 100ms ease;
}
#expandFilter > button:hover {
    color: var(--secondary);
    font-size: var(--sizeL);
    transition: font-size 100ms ease;
}

#expandFilter > div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#expandFilter div h2 {
    grid-area:1/1/2/3;
    border-bottom: 1px solid var(--light);
    padding: var(--paddingSZ) 0rem;
    display: flex;
    align-items: center;
}

.fieldWrapper, .languageWrapper, .levelsWrapper, .visumWrapper{
    display: flex;
    align-items: center;
    height:4rem;
    position: relative;
    height: 4rem;
    width: calc(calc(100vw-4rem)/2);
}

.fieldWrapper div, 
.languageWrapper div, 
.levelsWrapper div, 
.visumWrapper div {
    margin-left: 4rem;
}

.fieldWrapper input, 
.languageWrapper input, 
.levelsWrapper input, 
.visumWrapper input {
    position: absolute;
    margin-right: 3rem;
    height:100%;
    width:100%;
    opacity: 0;
    z-index: 10000;

}

.checkmark {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: var(--light);
    transition: background-color 200ms ease;
}

#expandFilter input:checked ~ .checkmark{
    background-color: var(--secondary);
    transition: background-color 200ms ease;
}

/* PROGRAMKORTEN  */


.programList {
    width:100%;
    height:auto;
}
  
.programCard {
    transform-style: preserve-3d;
    position: relative; 
    width: 100%;
    height:15rem;
    
    transition: height 1s, transform 1s;
    margin-bottom: var(--marginLR);
}
  
  
.programCard.longer {
    height: 60rem;
}
  
.programCard.longer.flipped {
    transform: rotateY(180deg);
}
  
/* gemensam för front and back */
.programCardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;

    box-sizing: border-box;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
}
  
/* programecard front */
.programCardFace.front {
    padding: var(--paddingSZ);
    background-color: rgba(255, 153, 0, 0.7);
    box-sizing: border-box;
    padding: var(--paddingSZ);
}
  
.programCardFace.front > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis:12rem;
    margin-bottom: var(--marginLR);
}

.programCardFace.front > div:first-child > div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: var(--marginLR)
}

.programCardFace.front button {
    background-color: transparent;
    height: 2rem;
    width:2rem;
    appearance: none;
    border:none;
    border-right: 0.1rem solid var(--dark);
    border-bottom: 0.1rem solid var(--dark);
    transform: rotate(45deg);
    transition: transform 1s ease;
}

.programCardFace.front button.expand.rotated {
    transform: rotate(-135deg);
    transition: transform 1s ease;
}

.programCardFace.front > div:first-child > h1,
.programCardFace.front > div:first-child h2 {
    font-family: var(--title);
    padding-bottom: 0.5rem;
}

.programSeats{
    flex-basis:10%;
    margin: var(--marginLR) 0rem;
    font-size: var(--sizeS);
    font-family: var(--bodyText);
    line-height: 1.5rem;
}

.progressBar {
    background-color: var(--dark);
    height: 2rem;
    width:100%;
    border-radius: 20rem;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--bodyText);
    background-color: var(--light);
    width: 0%;
}

.widthTran {
    width: 0%;
    transition: width 1s ease;
}

.graduation {
    flex-basis:10%;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--marginLR);

    

    font-size: var(--sizeS);
    font-family: var(--bodyText);
}

.circle {
    height: 5rem;
    width: 5rem;
    border-radius: 200px;
    background-color: var(--light);
    margin: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.entryPoints {
    height: 30%;
}

.entryPoints > div:last-child{
    display: flex;
    font-size: var(--sizeS);
    font-family: var(--bodyText);
}

.entryPointsTitle, 
.programSeats > h1,
.graduation > h1 {
    font-size: var(--sizeM);
    font-family: var(--title);
    margin-bottom: var(--marginLR);
}

.graduation > p,
.programSeats > p {
    font-family: var(--bodyText);
    padding: 1rem 0rem;
}

.gradeYear {
    margin-bottom: 1rem;
}

.gradeCircle {
    height: 5rem;
    width: 5rem;
    border-radius: 200px;
    background-color: var(--light);

    display: flex;
    justify-content: center;
    align-items: center;
}

.programCardFace.front h2 {
    color:var(--dark);
    font-size: 16px;
}

.gradeBox{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
}
  
/* Programecard back */

.programCardFace.back {
    transform: rotateY(180deg);
    display: flex;
    overflow-x: scroll;
    background-color: hsl(36, 100%, 69%);
}

/* Loadmore and search filterbutton */
#loadMore {
    background-color: none;
    border:none;
    appearance: none;
    margin-bottom: var(--marginLR);
    padding: var(--paddingSZ);
    font-family: var(--title);
    font-size: var(--sizeS);
}

#loadMore:active {
    background-color: var(--dark);
    color: var(--light);
    font-weight: bold;
    transition: 1s ease;
}

#sokKnapp {
    height: 5rem;
    width: calc(100% - 4rem);
    margin: var(--marginLR);

    font-family: var(--title);
    font-size: var(--sizeS);

    appearance: none;
    border:0.1 solid var(--light);
    background-color: var(--light);

}

#sokKnapp::active {
    height: 4rem;
    width: calc(90% - 4rem);
    margin: auto;
}