/* SEARCHFORM */

#searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
    background-color: var(--secondary);
    margin-top: 4rem;
    height:30rem;
    border-radius: 0.3rem;
}

#innerWrapper {
    height: calc(100% - 4rem);
    width: calc(100vw - 4rem);
    padding: 2rem 2rem;
    background-color: var(--dark); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
}
    
#innerWrapper h2 {
    width:100%;
    margin-bottom: var(--marginLR);
    color: var(--light);
    font-family: var(--title);
    text-transform: capitalize;
    text-align: left;
    font-size: var(--sizeM);
    font-weight: normal;
}
    
#inputField {
    width:100%;
    height: 3.5rem;
    padding:var(--paddingSZ);
    border:none;
    border-radius: 0.3rem;
    background-color: var(--light);
    margin-bottom: var(--marginLR);
    appearance: none;
}
    
#innerWrapper > div {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--marginLR);
    margin-bottom: var(--marginLR);
}
    
#innerWrapper > div select {
    height: 3.5rem;
    padding:var(--paddingSZ);
    border: none;
    border-radius: 0.3rem;
    background-color: var(--light);
    appearance: none;
}
    
#search {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width:100%;
    height: 3.5rem;
    padding:var(--paddingSZ);
    
    border:none;
    border-radius: 0.3rem;
    background-color: var(--light); 
    
    font-family: var(--bodyText);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--sizeXs);
}
    
#search:active{
    opacity: 0.7;
}

/* SORTERA & FILTRERA */

#sortFilterParent{
    display: flex;
    margin: 0rem var(--marginLR);
}

#sortera, #filter {
    appearance: none;
    border: none;
    padding: var(--paddingSZ) 1rem;
    background-color: var(--light);
    color:var(--dark);
    font-family: var(--bodyText);
    font-weight: normal;
    font-size: var(--sizeXs);
    text-transform: uppercase;
    position: relative;
    flex-grow: 1;
}

#filter{
    text-align: right;
}

#expandFilter{
    position: absolute;
    height:100vh;
    width:100vw;
    background-color: var(--dark);
    z-index: 1000;    font-family: var(--title);
    font-size: var(--sizeXs);
    text-transform: uppercase;
    padding: 0rem var(--paddingSZ);
    color: var(--light);
}

#expandFilter > h1 {
    padding: var(--paddingSZ);
}

#expandFilter > button {
    background-color: var(--dark);
    position: absolute;
    top:calc(5rem/2);
    right: var(--paddingSZ);
    border:none;
    background-color: var(--light);
    font-size: var(--sizeM);
}

#expandFilter > div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#expandFilter div h2 {
    grid-area:1/1/2/3;
    border-bottom: 1px solid var(--light);
    padding: var(--paddingSZ) 0rem;
    display: flex;
    align-items: center;
}

.fieldWrapper, .languageWrapper, .levelsWrapper, .visumWrapper{
    display: flex;
    align-items: center;
    height:4rem;
    position: relative;
    height: 4rem;
    width: calc(calc(100vw-4rem)/2);
}

.fieldWrapper div, 
.languageWrapper div, 
.levelsWrapper div, 
.visumWrapper div {
    margin-left: 4rem;
}

.fieldWrapper input, 
.languageWrapper input, 
.levelsWrapper input, 
.visumWrapper input {
    position: absolute;
    margin-right: 3rem;
    height:100%;
    width:100%;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: var(--light);
}

#expandFilter input:checked ~ .checkmark{
    background-color: var(--secondary);
}

