main{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.faqContainer {
    height: auto;
    width: 90%;
    margin-top: 10px;
}

.faqQuestionDiv{
    overflow: scroll;
}

.faqQuestionBox {
	display: flex;
    align-items: center;

	height: 35px;
	font-size: 9px;
	padding: 5px;
	margin: 5px;
	background-color: var(--light);
	border: 1px solid var(--dark);

    cursor: pointer;	
}

.top {
    display: flex;
}

.DownArrowFaq {
    margin-right: 10px;
    font-size: 12.5px;
}

.LongArrowFaq {
	font-size: 15.5px;
	position: relative;
	top: 8px;
}

.faqTitle{
    padding: 10px;
    font-size: 25px;
}

.hide {
    display: none;
}

.longer {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}

.answerBox{
    font-size: 13px;
    padding: 5px;
    margin: auto;
}
