/* first */
.first {
    height:calc(100vh - 8rem);
    background-image: url(../Images/stockholm_big_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#callForAction {
    height: 10vw;
    width: auto;
    padding: var(--paddingSZ);
    padding-right: 5rem;
    background-color: rgb(255, 153, 0);
    appearance: none;
    border: none;

    position: absolute;
    bottom: 20%;
    right: 0;

    text-transform: uppercase;
    font-family: var(--bodyText);
    font-size: var(--sizeS);
    

    display: flex;
    justify-content: center;
    align-items: center;
}

#callForAction a {
    text-decoration: none;
    color: var(--dark);
}

#callForAction a:visited {
    color: var(--dark);
}

#firstText {
    padding: var(--marginLR);
    margin-bottom: 25vh;
    color: var(--light);
    font-family: var(--title);
    font-size: var(--sizeS);
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#scrollForMore {
    color: var(--light);
    font-family: var(--title);
    font-size: var(--sizeM);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scrollForMore > p:last-child {
    font-size: 4rem;
    padding-bottom: 1rem;

    animation-name: bounceUpAndDown;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: rotate(-90deg);
}

/* fact  */
.factParent {
    height: 15rem;
    width:100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark);
    margin-bottom: var(--marginLR);
}

.circle {
    height: 10rem;
    width: 10rem;
    background-color: var(--secondary);
    border-radius: 200rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--bodyText);
    font-size: var(--sizeXs);
    text-transform: uppercase;
}

.bigger {
    font-size: var(--sizeL);
}


/* guide  */
.guidePart {
    margin-bottom: var(--marginLR);
}
.guidePart > div:first-child{
    padding: var(--paddingSZ);
}

.title{
    font-family: var(--title);
    font-weight: lighter;
    font-size: var(--sizeL);
    text-transform: capitalize;

    margin-bottom: var(--marginLR);
}

.paragraph{
    font-family: var(--bodyText);
    font-size: var(--sizeS);
}

.guidePart > div:last-child{
    position: relative;
}

.img{
    width:100%;
}

.comment {
    position: absolute;
    top:0;
    height:99%;
    width:100%;
    background-color: rgba(255, 153, 0, 0.3);
    
}

