/* first */
.first {
    height:calc(100vh - 8rem);
    background-image: url(../Images/stockholm_big_2.jpg);
    background-position: center;
    background-color: rgba(255, 153, 0, 0.3);
}

/* fact  */
.factParent {
    height: 15rem;
    width:100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark);
    margin-bottom: var(--marginLR);
}

.circle {
    height: calc(100vw/4);
    width: calc(100vw/4);
    background-color: var(--secondary);
    border-radius: 200rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--bodyText);
    font-size: var(--sizeXs);
    text-transform: uppercase;
}


/* guide  */
.guidePart {
    margin-bottom: var(--marginLR);
}
.guidePart > div:first-child{
    padding: var(--paddingSZ);
}

.title{
    font-family: var(--title);
    font-weight: lighter;
    font-size: var(--sizeL);
    text-transform: capitalize;

    margin-bottom: var(--marginLR);
}

.paragraph{
    font-family: var(--bodyText);
    font-size: var(--sizeS);
}

.guidePart > div:last-child{
    position: relative;
}

.img{
    width:100%;
}

.comment {
    position: absolute;
    top:0;
    height:99%;
    width:100%;
    background-color: rgba(255, 153, 0, 0.3);
    
}

