#quiz {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: calc(100vh - 8rem);
    width: 100%;
    background-color: black;
}

.questionsDiv {
    height: 350px;
	background: black;
	margin: auto;
    width: 280px;
}

.progress {
    width: 80%;
    background-color: #26282C;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.bar {
    width: 10%;
    height: 30px;
    background-color: #ff9900;
    text-align: center;
    line-height: 30px;
    color: #26282C;
}

.hide {
    display: none;
}

.startButton {
    color: white;
    background-color: black;
    
    font-size: 15px;
    margin: auto;
}

.question{
    color: white;
    margin-bottom: 10px;
}

