
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #0091FF;
    overflow: scroll;
}

.questionsContainer {   
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;

    width: 300px;
}

#question{
    font-size: 20px;
    margin-bottom: 10px;
    color: #26282C;
}

#answersButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.answer{
    width: 200px;
    height: 30px;
    margin-bottom: 5px;
    background-color: #26282C;
    color: #ffffff;
}

.selectedOpt {
    background-color: #ff9900;
    font-weight: bold;
    color: #26282C;
}

.navigateButtons{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.navigateButtons button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 45px;
    background-color: #0091FF;
    color: #ffffff;
}

.progress {
    width: 100%;
    background-color: #26282C;
    margin-bottom: 20px;
}

.bar {
    width: 10%;
    height: 10px;
    background-color: #ff9900;
    text-align: center;
    line-height: 30px;
    color: #26282C;
    transition: 1s;
}

.hide {
    display: none;
}

#startButton {
    background-color: #ff9900;
    font-size: 15px;
    margin: auto;
    height: 60px;
    width: 100px;
    border-radius: 90%;
}

.showButton{
    background-color: #ff9900;
    font-size: 10px;
    margin: auto;
    height: 40px;
    width: 70px;
    border-radius: 90%;
}

.resultatText{
    font-size: 20px;
    margin-bottom: 10px;
}

#resultContainer{
        display: flex;
        flex-direction: column;
        height: 400px;
}

.country-city{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 15px;
    padding: 20px;
    height: 40px;
    width: 300px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    
}

.country-city > button {
    
    border:none;
    background-color: var(--light);
    font-size: var(--sizeM);

    transform: rotate(180deg);
}

.longer {
    height: 600px;
}

.matched {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}