
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #0091FF;
    overflow: scroll;
}

.questionsContainer {   
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
}

#question{
    font-size: 20px;
    margin-bottom: 10px;
    color: #26282C;
}

#answersButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option{
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
    background-color: #26282C;
    color: #ffffff;
}

.selectedOpt {
    background-color: #ff9900;
    font-weight: bold;
    color: #26282C;
}

.navigateButtons{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.navigateButtons button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 45px;
    background-color: #0091FF;
    color: #ffffff;
}

.progress {
    width: 100%;
    background-color: #26282C;
    margin-bottom: 20px;
}

.bar {
    width: 10%;
    height: 10px;
    background-color: #ff9900;
    text-align: center;
    line-height: 30px;
    color: #26282C;
}

.hide {
    display: none;
}

#startButton {
    background-color: #ff9900;
    font-size: 15px;
    margin: auto;
    height: 60px;
    width: 100px;
    border-radius: 90%;
}
